.cart-container-bg{
    padding: 20px;
  }
  
  .cart-item-each {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
  }
  
  .cart-item-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
  }
  
  .cart-item-details {
    margin-left: 20px;
  }
  
  .cart-item-details h3 {
    margin: 0;
  }
  
  .cart-item-details p {
    margin: 5px 0;
  }
  