.footer-container{
  background-color: #8aba89de;
}

.footer-logo{
  height: 80px;
  width: 80px;
}
.facebook{
  width: 45px;
  height: 45px;
}
.icons-div{
  display: flex;
  flex-direction: column;
  
}
.about-card{
  display: flex;
  gap: 25px;
}
.detail-div{
  display: flex;
  gap: 100px;
}
.hadvalue-card{
  display: flex;
  gap: 108px;
}
.about-card2{
  width: 100%;
}
.about-container{
  width: 34%;
}
.icons-div-card{
  display: flex;
  gap:40px;
}
.contact-div2{
  gap: 50px;
  display: flex;
  align-items: center;
}
.footer-container{
  padding: 50px;
}